<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.koenderaden.myspotifysearchapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.MySpotifySearchApp">

        <!-- Spotify Login Activity (v2.1.2 = .auth, NIET .authentication) -->
        <activity android:name="com.spotify.sdk.android.auth.LoginActivity" />

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <!-- App start -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Spotify redirect -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="spotifydemo"
                    android:host="callback" />
            </intent-filter>
        </activity>
    </application>
</manifest>
